# Auto detect text files and perform LF normalization
* text=auto
help filter=lfs diff=lfs merge=lfs -text
road_normal.png filter=lfs diff=lfs merge=lfs -text
road.psd filter=lfs diff=lfs merge=lfs -text
Assets/CartoonTracksPack1/Track1/Textures/road_normal.png filter=lfs diff=lfs merge=lfs -text
Assets/CartoonTracksPack1/Track1/Textures/road.psd filter=lfs diff=lfs merge=lfs -text
